// layout is wrapper of body i.e. variable part
<html>
    <head>
        <title>
            <%= title %>
        </title>
    </head>
    <body>
        <%- include('_header'); %>

        <%- body %>
        
        <%- include('_footer'); %>
    </body>
</html>